/***GENERELLE INDSTILLINGER***/

* {
    box-sizing: border-box;
    --koga-blue: #0E7DC7;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #f0f0f0;
}

html {
    font-size: 62.5%;

}

h1 {
    font-size: 3rem;
    font-family: 'Roboto';
    margin-bottom: 10px;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8rem;
    font-family: 'Roboto';
}

p {
    font-size: 1.6rem;
    font-family: 'Montserrat';
}

q {
    font-family: 'Montserrat';
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 200;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.54);

}

em {
    font-style: normal;
    font-weight: bold;
}

figure {
    margin: 0;
}

button h3 {
    margin: 0;
    color: white;
}

.tab_closed h3 {
    color: black;
}

.tab_selected h3 {
    color: white;
}

article.bike {
    transition: 0.5s all;
    text-align: left;
    margin: 0;
}


.om-cykel {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.om-cykel p {
    font-style: italic;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.9);
    hyphens: auto;
    margin-top: 6.5px;
}

.om-cykel h2 {
    margin-bottom: 0;
    color: black;
    font-style: italic;
}

/***GENERELLE INDSTILLINGER SLUT***/

/***HEADER***/
.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 75px;
    background-color: black;
    border-bottom: 2px solid var(--koga-blue);
}

#logo {
    display: flex;
    align-items: center;
    width: 240px;
    margin-left: 30px;
}

#logo h1,
a {
    text-align: left;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
}

header #logo img {
    height: 35px;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Den klasse der åbner burgermenuen */
.toggle_menu {
    transform: translateX(100%);
}

#burger_knap {
    width: 40px;
    height: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 120;
    right: 30px;
}

#burger_knap div {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burger_knap div:nth-child(1) {
    top: 0px;
    left: 0px;
}

/* Der ligger to div'er oveni hinanden, for at animationen når man klikker på den ser naturlig ud */
#burger_knap div:nth-child(2),
#burger_knap div:nth-child(3) {
    top: 12px;
    left: 0px;
}

#burger_knap div:nth-child(4) {
    bottom: 0px;
    left: 0px;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, bliver div nr. 1 usynlig */
#burger_knap.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, roterer div nr. 2 45 grader og skifter farve */
#burger_knap.open div:nth-child(2) {
    transform: rotate(45deg);
    background-color: black;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, roterer div nr. 3 -45 grader og skifter farve */
#burger_knap.open div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: black;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, bliver div nr. 4 usynlig */
#burger_knap.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.pos_absolute {
    position: absolute;
}

.navigation {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu a {
    font-size: 1.8rem;
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 10px;
    color: black;
}

#menu a:hover {
    color: #3b95d1;
}

.drop_wrap {
    position: relative;
}

.drop_wrap a {
    padding-bottom: 20px;
}

#dropdown {
    width: 100vw;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 130;
    background-color: white;
    padding: 0;
    display: none;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
    justify-items: center;
}

#dropdown hr {
    height: 100px;
    border: .5px solid grey;
}

#dropdown a {
    margin: 0;
    padding: 0;
}

.dropdown_h2 {
    color: black;
    text-align: center;
    font-size: 1.8rem;
}

#dropdown:hover {
    display: grid;
}

#dropdown img {
    width: 180px;
    padding-top: 10px;
}

.dropdown_elm {
    cursor: pointer;
}

.dropdown_elm:hover .dropdown_h2 {
    color: var(--koga-rgb(61, 61, 255));
}

.hover_effect {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 3000px;
    z-index: 10;
    opacity: 0.5;
    display: none;
}

.details p,
h2 {
    color: white;
    line-height: 1.4;
}

.details h2 {
    font-size: 1.6rem;
}

#specs ul li {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: white;
    line-height: 1.6;
}

#specs ul {
    padding-left: 20px;
}

.title {
    width: 100vw;
    height: 80px;
    margin-bottom: 20px;
}

.white {
    background-color: white;
    margin: 0 auto;
    max-width: 1000px;
}

.title_wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.title hr {
    width: 68%;
    height: 2px;
    background-color: rgba(14, 124, 215, 0.6);
    border: none;
}

.title h1 {
    text-transform: uppercase;
}

/***HEADER SLUT***/

/***FORSIDE***/

#forside_body {
    background-color: white;
}

#splash {
    width: 100vw;
    height: 80vh;
    background-image: url(img/cykler1_sort1.jpg);
    background-position: left;
    background-size: cover;
    position: relative;
}

#splash_content {
    width: 300px;
    position: absolute;
    left: 50px;
    top: 180px;
}

#splash_content h1 {
    color: white;
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 3.5rem;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
    line-height: 1.2;
}

#forside_cta {
    height: 60px;
    width: 200px;
    float: left;
}

#forside_cta h3 {
    padding: 0px;
    font-size: 2rem;
    font-family: 'Oswald';
    font-weight: 600;
}

.citatejer {
    text-align: right;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 1.9rem;
    color: rgba(0, 0, 0, 0.32);

}

#quote {
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
}

#baggrund img {
    width: 100%;
}

#txt_logo img {
    width: 250px;
}

#txt_logo {
    position: absolute;
    top: 150px;
    left: 30px;
}

#pop {
    padding: 30px;
}

#pop .bike {
    margin-bottom: 30px;
}

.bike {
    background-color: white;
    margin: 30px 0;
    padding: 20px;
}

#pop h1,
#why h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

#pop hr,
#why hr {
    width: 55.5%;
    height: 2px;
    background-color: var(--koga-blue);
    border: none;
    margin-bottom: 20px;
}

figcaption h3 {
    color: white;
}

#pop article.bike:hover {
    transform: scale(1.02);
}

.pop_wrap {
    width: 100vw;
    background-color: rgba(191, 191, 191, 0.3);
}

#why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
    grid-gap: 10px;
}

#why h1 {
    grid-column: 1/4;
}

#why hr {
    grid-column: 1/4;
    width: 50%;
    height: 2px;
}

#why figure {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
}

#why figcaption {
    position: absolute;
    text-align: center;
    bottom: 10%;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    font-weight: bold;
    width: 100%;
}

#why .tekst {
    transition: 0.5s all;
}

#why .tekst:hover {
    background-color: rgba(14, 125, 199, 0.83);
}

#why figure img {
    width: 100%;
}

/***FORSIDE SLUT***/

/***CYKLER I LISTE VISNING***/
#sorter_wrap {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 0 30px 30px;
    max-width: 1000px;
    margin: 0 auto;
    justify-items: end;
}

#no_results {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px 30px;
    font-style: italic;
    margin-top: -30px;
}

.filtrer p {
    margin-right: 6px;
}

.filtrer_search {
    width: 100%;
    max-width: 300px;
    border: 1px white;
}

.sorter {
    width: 500px;
    border: none;
    appearance: none;
    background-color: white;
    height: 40px;
    margin: 0;
}

#kategori_sorter {
    width: 500px;
    position: relative;
}

.filter p {
    white-space: nowrap;
    margin: 0;
}

.filter {
    max-width: 300px;
    position: relative;
}


#sorter_wrap div {
    display: flex;
    align-items: center;
}

#sorter_wrap p {
    font-size: 1.4rem;
}

#search_bar {
    display: inline;
    height: 40px;
    width: 203px;
    border: none;
    padding: 10px;
    font-size: 1.4rem;
    font-family: 'Montserrat';
    flex-basis: 20px;
    flex-grow: 1;
}

#search_icon {
    width: 40px;
    height: 40px;
    background-color: black;
}

#search_icon img {
    width: 100%;
    padding: 9px;
}

#sort_icon {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sort_icon img {
    width: 20px;
    height: 20px;
    background-color: black;
}

#kategori_icon {
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kategori_icon img {
    width: 20px;
    height: 20px;
    background-color: black;
}

.bikes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100vw;
    margin: 0 auto;
    padding-bottom: 30px;
    padding: 0 30px 30px 30px;
}

.bike {
    width: 100%;
    cursor: pointer;
}

.bike_img {
    width: 100%;
}

.model {
    color: black;
}

.kort,
.pris {
    margin: 5px 0;
}

.gammel_pris {
    text-decoration: line-through;
    color: grey;
    margin-bottom: 5px;
    display: inline;
    font-weight: bold;
}

.ny_pris {
    font-weight: bold;
    margin-top: 0;
    display: inline;
    margin-left: 10px;
}

/***CYKLER I LISTE VISNING SLUT***/

/***CYKLER I SINGLE VIEW***/
#cykel_body {
    background-color: white;
}

.single_bike {
    width: 90vw;
    margin: 0 auto;
    background-color: white;
}

.s_bike_img {
    width: 100%;
}

.s_pris {
    text-decoration: line-through;
    color: grey;
    margin-bottom: 5px;
    font-weight: bold;
}

.s_tilbud_pris {
    margin-top: 0;
}

.cta {
    margin: 20px 0;
    width: 90%;
    height: 50px;
    max-width: 280px;
    background-color: var(--koga-blue);
    color: white;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

.buy_info {
    font-style: italic;
    font-size: 1.2rem;
    padding-right: 20px;
}

.buy_info_top {
    margin-top: 50px;
}

.buy_info a {
    color: var(--koga-blue);
    font-size: 1.2rem;
}

.buy_info a:hover {
    text-decoration: underline;
}

#book {
    background-color: #dedede;
    padding: 20px;
    max-width: 1000px;
    display: block;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 30px 0;
    display: none;
}

.cta a {
    text-align: center;
}

#book input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 6px;
    resize: vertical;

    font-size: 1.4rem;
    font-family: 'Montserrat';
}

#book input[type=submit] {
    margin: 10px 0 0 0;
    width: 100%;
    height: 50px;
    max-width: 280px;
    background-color: var(--koga-blue);
    color: white;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

#book h2 {
    margin: 0;
    color: black;
}

#book h3 {
    margin-bottom: 0;
    font-size: 1.6rem;
}

#book p {
    margin-top: 5px;
}

#checkbox {
    margin-right: 10px;
    margin-bottom: 3px;
    width: 15px;
    height: 15px;
}

.check_name {
    color: #8f8f8f;
    display: inline-block;
    text-transform: capitalize;
    pointer-events: none;
    margin: 0;
}

#date {
    display: block;
    margin-top: 6px;
    font-size: 1.4rem;
    font-family: 'Montserrat';
}


/* TABS */
.tab {
    overflow: hidden;
    background-color: white;
    width: 470px;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: var(--koga-blue);
    margin-bottom: 30px;
}

#desc {
    display: block;
}

.tab_selected {
    background-color: var(--koga-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.tab_closed {
    border: none;
    outline: none;
}

#booking {
    background-color: transparent;
    width: 20px;
    height: 20px;
    grid-row: 2/3;
    grid-column: 2/3;
    margin-top: -20px;
}

/***CYKLER I SINGLE VIEW SLUT***/

/***OM OS***/

#omos {
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
    background-color: white;
}

#omos h2 {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}

#top_h2 {
    margin-top: 0;
}

#omos p {
    line-height: 1.5;
    margin-top: -2px;
}

#desk_img {
    width: 100%;
    display: none;
}

#mobile_img {
    display: block;
}

#mobile_img img {
    width: 100%;
}

#video_container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 540px;
    max-height: 300px;
}

/***OM OS SLUT***/

/***KONTAKT***/

#kontakt_main {
    padding: 30px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}

#kontakt_main h2 {
    color: black;
}

#kontakt_grid figure img {
    width: 100%;
}

#top_p {
    margin-top: 0;
}

#faq h3 {
    margin-bottom: 5px;

    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-weight: 600;
}

#faq p {
    margin-top: 0;
}

.kontakt_links {
    color: var(--koga-blue);
    font-size: 1.6rem;
}

.kontakt_links:hover {
    text-decoration: underline;
}

/***KONTAKT SLUT***/

/***FOOTER***/

.googlemaps iframe {
    width: 100vw;
    height: 30vh;
}

footer img {
    width: 25px;
    margin-right: 5px;
    margin-top: 5px;
    transition: 0.5s ease all;
}

#sociale_medier a:hover {
    background-color: transparent;
}

#sociale_medier img:hover {
    transform: scale(1.07);
}

.footer_wrapper {
    display: grid;
    background-color: white;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    max-width: 350px;
    margin-bottom: 30px;
}

footer {
    background-color: white;
}

footer a:hover {
    background-color: #0E7DC7;
    color: white;
}

footer a {
    color: var(--koga-blue);
    font-size: 1.2rem;
}

footer h2 {
    color: var(--koga-blue);
    font-size: 1.4rem;
    text-transform: uppercase;
}

footer p {
    color: var(--koga-blue);
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
}

/***FOOTER SLUT***/

@media screen and (min-width: 850px) {
    #splash_content {
        left: 130px;
        top: 150px;
        width: 500px;
    }

    #splash_content h1 {
        font-size: 5.5rem;
    }

    #forside_cta {
        height: 70px;
        width: 300px;
    }

    #forside_cta h3 {
        font-size: 2.5rem;
    }

    #kontakt_grid {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 30px;
    }


    /***GENRELLE***/
    #omos {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 30px;
    }

    #omos figure {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #desk_img {
        display: block;
        margin-bottom: 30px;
    }

    #desk_img img {
        width: 100%;
    }

    #mobile_img {
        display: none;
    }


    #kogacenter img {
        padding: 0 0 0 30px;
    }

    .om-cykel {
        padding-left: 30px;
    }

    .om-cykel p {
        hyphens: none;
    }

    #cykel_body {
        background-color: #f0f0f0;
    }

    .bikes {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .bike:hover {
        transform: scale(1.02);
    }

    .single_bike {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: white;
    }

    #book {
        margin-right: 30px;
    }

    .details {
        grid-column: 1/2;
        padding: 0 30px;
    }

    .s_model {
        margin-top: 50px;
    }

    .title hr {
        width: 35%;
    }


    /***GENRELLE SLUT***/

    /***NAVIGATION***/
    nav {
        background-color: transparent;
        position: relative;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
    }

    #burger_knap {
        /* Skjuler burger knappen */
        display: none;
    }

    .toggle_menu {
        /* Sørger for at menuen er synlig hele tiden */
        transform: translateX(0);
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    #menu a {
        color: white;
    }

    .drop_wrap {
        position: relative;
    }

    .drop_wrap a {
        padding-bottom: 20px;
    }

    #dropdown {
        width: 700px;
        position: absolute;
        bottom: -159px;
        right: -280px;
        z-index: 130;
        background-color: white;
        padding: 0;
        display: none;
        grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
        align-items: center;
        justify-items: center;
    }

    #dropdown hr {
        height: 40px;
        border: .5px solid var(--koga-blue);
    }

    .dropdown_elm:hover .dropdown_h2 {
        color: var(--koga-blue);
    }

    #dropdown a {
        margin: 0;
        padding: 0;
    }



    #dropdown img {
        width: 150px;
        padding-top: 10px;
    }

    .dropdown_h2 {
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }

    /***NAVIGATION SLUT***/

    /***FORSIDE***/

    #txt_logo img {
        width: 450px;
    }

    #txt_logo {
        position: absolute;
        top: 200px;
        left: 50px;
    }

    #pop {
        display: grid;
        grid-template-columns: auto auto auto;
        max-width: 1000px;
        margin: 0 auto;
        grid-gap: 20px;
    }

    #pop img {
        width: 100%;
    }

    #pop h1 {
        grid-column: 1/4;
    }

    #pop hr {
        grid-column: 1/4;
        width: 50%;
        height: 2px;
    }

    .bike {
        margin-bottom: 50px;
        min-width: 200px;
    }

    #why h3 {
        font-size: 3rem;

    }

    #quote {
        text-align: center;
    }

    .citatejer {
        margin-right: 18%;
    }

    #sorter_wrap {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .filtrer_search {
        width: 100%;
        max-width: 500px;
    }

    .filter {
        max-width: 500px;
        width: 100%;
    }

    #sorter {
        width: 100%;
    }

    #kategori_sorter {
        width: 100%;
    }


    /***FORSIDE SLUT***/

    /***FOOTER***/

    .footer_wrapper {
        grid-template-columns: repeat(4, auto);
        margin: 0 auto;
        justify-items: center;
        padding: 30px;
        max-width: 1200px;
    }

    footer img {
        width: 30px;
        margin-top: 6px;
    }

    /***FOOTER SLUT***/
}

@media screen and (min-width: 1000px) {
    .title_wrap {
        padding-left: 0;
    }

    .om-cykel {
        padding-left: 0;
    }

    #sorter_wrap {
        padding: 0 0 30px 0;

    }

    .bikes {
        padding-left: 0;
        padding-right: 0;
    }

    #no_results {
        padding-left: 0;
    }

}
