* {
    box-sizing: border-box;
    --koga-blue: #0E7DC7;
    scroll-behavior: smooth;
}

#booking {
    background-color: transparent;
    width: 20px;
    height: 20px;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;

}

h1 {
    font-size: 3rem;
    font-family: 'Roboto';
    margin-bottom: 10px;
}

h2 {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 1.8rem;
    font-family: 'Roboto';
}

p {
    font-size: 1.6rem;
    font-family: 'Montserrat';
}

q {
    font-family: 'Montserrat';
    margin-bottom: 10px;
    margin-top: 10px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 200;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.54);

}

em {
    font-style: normal;
    font-weight: bold;
}

.citatejer {
    text-align: right;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 200;
    font-size: 1.9rem;
    color: rgba(0, 0, 0, 0.32);

}

#quote {
    padding: 50px;
    /*text-align: center;*/
    /*background-color: rgba(141, 138, 138, 0.13);*/
}

figure {
    margin: 0;
}

button h3 {
    margin: 0;
    color: white;
}

.tab_closed h3 {
    color: black;
}

.tab_selected h3 {
    color: white;
}

/*FORSIDE*/
/*
.slideshow_container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow_container img {
    width: 100%;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
*/


#baggrund img {
    width: 100%;
}

#txt_logo img {
    width: 250px;
}

#txt_logo {
    position: absolute;
    top: 150px;
    left: 30px;
}

#pop {
    padding: 30px;
}

#pop .bike {
    background-color: white;

}

#pop .model,
#pop .kort,
#pop .pris {
    padding-left: 20px;
    padding-right: 20px;
}

#pop .pris {
    margin-bottom: 35px;
    padding-bottom: 20px;
}

#pop,
#why h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

#pop hr,
#why hr {
    width: 55.5%;
    height: 2px;
    background-color: var(--koga-blue);
    border: none;
    margin-bottom: 20px;
}

#pop article.bike:hover {
    transform: scale(1.05);
}

.pop_wrap {
    width: 100vw;
    background-color: rgba(191, 191, 191, 0.3);
}

#why {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

#why h1 {
    grid-column: 1/4;
}

#why hr {
    grid-column: 1/4;
    width: 50%;
    height: 2px;
}

#why figure {
    position: relative;
    text-align: center;
    color: white;
    height: 100%;
}

#why figcaption {
    position: absolute;
    text-align: center;
    bottom: 10%;
    font-size: 1.8rem;
    font-family: 'Montserrat';
    font-weight: bold;
    width: 100%;
}

#why .tekst {
    transition: 0.5s all;
}

#why .tekst:hover {
    background-color: rgba(14, 125, 199, 0.83);
}

#why figure img {
    width: 100%;
}


.tint {
    position: relative;
    float: left;
}

.tint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--koga-blue);
    opacity: 0.4;
}

article.bike {
    transition: 0.5s all;
    text-align: left;
}

#quote {
    max-width: 1000px;
    margin: 0 auto;
}

/* HEADER */
.main_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 105px;
    background-color: white;
}

#logo {
    display: flex;
    align-items: center;
    width: 240px;
    margin-left: 30px;
}

#logo h1,
a {
    text-align: left;
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}

figcaption h3 {
    color: white;
}

header #logo img {
    height: 55px;
}

nav {
    width: 100%;
    height: 100vh;
    background-color: white;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Den klasse der åbner burgermenuen */
.toggle_menu {
    transform: translateX(100%);
}

#burger_knap {
    width: 40px;
    height: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 120;
    right: 30px;
}

#burger_knap div {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: black;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#burger_knap div:nth-child(1) {
    top: 0px;
    left: 0px;
}

/* Der ligger to div'er oveni hinanden, for at animationen når man klikker på den ser naturlig ud */
#burger_knap div:nth-child(2),
#burger_knap div:nth-child(3) {
    top: 12px;
    left: 0px;
}

#burger_knap div:nth-child(4) {
    bottom: 0px;
    left: 0px;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, bliver div nr. 1 usynlig */
#burger_knap.open div:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, roterer div nr. 2 45 grader og skifter farve */
#burger_knap.open div:nth-child(2) {
    transform: rotate(45deg);
    background-color: black;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, roterer div nr. 3 -45 grader og skifter farve */
#burger_knap.open div:nth-child(3) {
    transform: rotate(-45deg);
    background-color: black;
}

/* Når #burger_knap får klassen .open ved hjælp af JavaScript, bliver div nr. 4 usynlig */
#burger_knap.open div:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.pos_absolute {
    position: absolute;
}

.navigation {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
}

#menu {
    display: flex;
    flex-direction: column;
}

#menu a {
    font-size: 1.8rem;
    font-family: 'Oswald';
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 30px;
    padding: 10px;
}

#menu a:hover {
    color: var(--koga-blue);
}

.drop_wrap {
    position: relative;
}

.drop_wrap a {
    padding-bottom: 20px;
}

#dropdown {
    width: 100vw;
    position: relative;
    bottom: 0;
    right: 0;
    z-index: 130;
    background-color: white;
    padding: 0;
    display: none;
    grid-template-columns: 1fr auto 1fr auto;
    align-items: center;
    justify-items: center;
}

#dropdown hr {
    height: 100px;
    border: .5px solid grey;
}

#dropdown a {
    margin: 0;
    padding: 0;
}

.dropdown_h2 {
    color: black;
    text-align: center;
    font-size: 1.8rem;
}

#dropdown:hover {
    display: grid;
}

#dropdown img {
    width: 180px;
    padding-top: 10px;
}

.dropdown_elm {
    cursor: pointer;
}

.dropdown_elm:hover .dropdown_h2 {
    color: var(--koga-blue);
}

.hover_effect {
    background-color: black;
    position: absolute;
    width: 100vw;
    height: 3000px;
    z-index: 10;
    opacity: 0.5;
    display: none;
}

.details p,
h2 {
    color: white;
    line-height: 1.4;
}

.details h2 {
    font-size: 1.6rem;
}

#specs ul li {
    font-size: 1.6rem;
    font-family: sans-serif;
    color: white;
    line-height: 1.6;
}

#specs ul {
    padding-left: 20px;
}

.title {
    width: 100vw;
    height: 80px;
    background-color: var(--koga-blue);
    color: white;
}

.title_wrap {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
}

.title_wrap h1 {
    text-transform: uppercase;
}

.small_width {
    max-width: 800px;
}

.om-cykel {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 40px;
}

.om-cykel p {
    font-style: italic;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.32);
    hyphens: auto;
    margin-top: 6.5px;
}

.om-cykel h2 {
    margin-bottom: 0;
    color: black;
    font-style: italic;
}

#splash {
    width: 100vw;
    height: 60vh;
    background-image: url(img/baggrundmedlogo.png);
    background-position: right;
    background-size: cover;
    position: relative;
}

#splash h1 {
    position: absolute;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    left: 100px;
    top: 100px;
}

#kontakt {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

#kontakt h2 {
    color: black;
}

/* CYKLER I LISTE VISNING */
.bikes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 90vw;
    margin: 0 auto;
}

.bike {
    width: 100%;
    cursor: pointer;
}

.bike_img {
    width: 100%;
}

.model {
    color: black;
}

.kort,
.pris {
    margin: 5px 0;
}

.gammel_pris {
    text-decoration: line-through;
    color: grey;
    margin-bottom: 5px;
}

.ny_pris {
    font-weight: bold;
    margin-top: 0;
}

/* CYKLER I SINGLE VIEW */
.single_bike {
    width: 90vw;
    margin: 0 auto;
}

.s_bike_img {
    width: 100%;
}

.cta {
    margin: 20px 0;
    width: 90%;
    height: 50px;
    max-width: 280px;
    background-color: var(--koga-blue);
    color: white;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

#book {
    background-color: #dedede;
    padding: 20px;
    max-width: 1000px;
    grid-column: 1/3;
    display: none;
}

.cta a {
    text-align: center;
}

#book input[type=text],
input[type=email],
input[type=tel],
input[type=date],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

    font-size: 1.4rem;
    font-family: 'Montserrat';
}

#book input[type=submit] {
    margin: 20px 0;
    width: 90%;
    height: 50px;
    max-width: 280px;
    background-color: var(--koga-blue);
    color: white;
    border: none;
    outline: none;
    font-size: 1.7rem;
    font-weight: bold;
    cursor: pointer;
}

#book h2 {
    margin-bottom: 0;
    color: black;
}

#book h3 {
    margin-bottom: 0;
    font-size: 1.6rem;
}

#book p {
    margin-top: 5px;
}

#checkbox {
    margin-right: 10px;
    margin-bottom: 3px;
    width: 15px;
    height: 15px;
}

.check_name {
    color: #8f8f8f;
    display: inline-block;
    text-transform: capitalize;
    pointer-events: none;
    margin: 0;
}

#date {
    display: block;
    margin-top: 6px;
    font-size: 1.4rem;
    font-family: 'Montserrat';
}


/* TABS */
.tab {
    overflow: hidden;
    background-color: white;
    width: 470px;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1.8rem;
    font-weight: bold;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    background-color: var(--koga-blue);
    margin-bottom: 30px;
}

#desc {
    display: block;
}

.tab_selected {
    background-color: var(--koga-blue);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}

.tab_closed {
    border: none;
    outline: none;
}

/*OM OS*/
#omos {
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    padding: 30px;
}

#omos h2 {
    font-size: 2rem;
    font-family: 'Oswald';
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}

#omos p {
    line-height: 1.5;
}

#kogacenter img {
    width: 100%;
}

/*FOOTER*/

.googlemaps iframe {
    width: 100vw;
    height: 30vh;
    margin-top: 5rem;
}

.footer_wrapper {
    display: grid;
    background-color: white;
    width: 100vw;
    position: relative;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    padding: 30px 0px 30px 70px;
}

footer a:hover {
    background-color: #0E7DC7;
    color: white;
}

footer a {
    color: var(--koga-blue);
    font-size: 1.2rem;
}

footer h2 {
    color: var(--koga-blue);
    font-size: 1.4rem;
    text-transform: uppercase;
}

footer p {
    color: var(--koga-blue);
    font-size: 1.2rem;
    line-height: 1.5;
}

/*FOOTER SLUT*/

@media screen and (min-width: 850px) {

    /* NAVIGATION */
    nav {
        background-color: transparent;
        position: relative;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
    }

    #burger_knap {
        /* Skjuler burger knappen */
        display: none;
    }

    .toggle_menu {
        /* Sørger for at menuen er synlig hele tiden */
        transform: translateX(0);
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    .drop_wrap {
        position: relative;
    }

    .drop_wrap a {
        padding-bottom: 20px;
    }

    #dropdown {
        width: 700px;
        position: absolute;
        bottom: -159px;
        right: -280px;
        z-index: 130;
        background-color: white;
        padding: 0;
        display: none;
        grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
        align-items: center;
        justify-items: center;
    }

    #dropdown hr {
        height: 40px;
        border: .5px solid var(--koga-blue);
    }

    .dropdown_elm:hover .dropdown_h2 {
        color: var(--koga-blue);
    }

    #dropdown a {
        margin: 0;
        padding: 0;
    }

    #dropdown:hover {
        display: grid;
    }

    #dropdown img {
        width: 150px;
        padding-top: 10px;
    }

    .dropdown_h2 {
        color: black;
        font-size: 1.5rem;
        text-align: center;
    }

    /* FORSIDE */
    #txt_logo img {
        width: 450px;
    }

    #txt_logo {
        position: absolute;
        top: 200px;
        left: 50px;
    }

    #pop {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
        grid-gap: 20px;
    }

    #pop img {
        height: 200px;
    }

    #pop h1 {
        grid-column: 1/4;
    }

    #pop hr {
        grid-column: 1/4;
        width: 50%;
        height: 2px;
    }

    #pop .bike {
        margin-bottom: 50px;
    }

    #why h3 {
        font-size: 3rem;

    }

    .bikes {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .single_bike {
        max-width: 1000px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .details {
        grid-column: 1/3;
    }

    .s_model {
        margin-top: 50px;
    }

    .footer_wrapper {
        grid-template-columns: repeat(5, auto);
        max-width: 1200px;
        margin: 0 auto;
        justify-items: center;
        padding: 30px;
    }

    #quote {
        text-align: center;
    }

    .citatejer {
        margin-right: 18%;
    }

    #kogacenter {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #kogacenter h2 {
        grid-column: 1/3;
    }

    #kogacenter img {
        padding: 0 0 0 30px;
    }

    .om-cykel {
        padding-left: 0px;
    }

    .om-cykel p {
        hyphens: none;
    }



}

@media screen and (min-width: 1000px) {
    .title_wrap {
        padding-left: 0;
    }

    #kontakt {
        padding: 0;
    }

    #omos {
        padding: 0;
    }

}
