* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* CYKLER I LISTE VISNING */
.bikes {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 90vw;
    margin: 0 auto;
}

.bike {
    width: 100%;
    cursor: pointer;
}

.bike_img {
    width: 100%;
}

.model {
    font-size: 2rem;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.kort,
.pris {
    font-size: 1.6rem;
    font-family: sans-serif;
    margin: 5px 0;
}

/* CYKLER I SINGLE VIEW */
.single_bike {
    width: 90vw;
    margin: 0 auto;
}

.s_bike_img {
    width: 100%;
}

.s_model {
    font-size: 2rem;
    font-family: sans-serif;
}

.lang {
    font-size: 1.6rem;
    font-family: sans-serif;
}

.s_pris {
    font-size: 1.6rem;
    font-family: sans-serif;
}

@media screen and (min-width: 850px) {
    .bikes {
        grid-template-columns: 1fr 1fr;
        max-width: 1000px;
        margin: 0 auto;
    }

    .single_bike {
        max-width: 1000px;
        margin: 0 auto;
    }
}
